@if (TempData["success"] != null)
{
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
        <script>
            toastr.success('@TempData["success"]')
        </script>
            
       

        //    <div class="alert alert-success alert-dismissible fade show mt-4" role="alert">
        //@TempData["success"]
        //      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        //    </div>
}

@if (TempData["error"] != null)
{
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
        <script>
             toastr.error('@TempData["success"]')
        </script>

}